:host {
  display: block;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
  background-color: #f1f0e5e4;
}

h2 {
  margin-bottom: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}